body{
    background: #000000b6;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}
h1{
    font-size: 30px;
}
a{
    color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 35%;
}
form input[type=submit]{
    width: 50%;
    margin: 0 25%;
}
.signout_btn{
    position: absolute;
    right: 5%;
}